.sidebar {
    background: #000;
    color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    position: fixed;
    left: 0;
    top: 0;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.5s;
}
.active{
    text-decoration: none;
    color: #a2a9b1;
}
.icon, .link_text{
    font-size: 20px;
}